<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina de Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-explore-container name="Tab 1 page"></app-explore-container>

  <!-- Botón para acceder a la página de inicio de sesión -->
  <div class="w-full bg-green-500 p-2 text-white flex items-center justify-center" type="button"></div>
    <ion-button expand="full" (click)="navigateToLogin()">
      Iniciar Sesión
    </ion-button>
  </div>
</ion-content>
