<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name" (ionFocus)="animateInput('name')" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="surname" (ionFocus)="animateInput('surname')" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nivel de Educación</ion-label>
    <ion-input [(ngModel)]="educationLevel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha de Nacimiento</ion-label>
    <ion-datetime [(ngModel)]="birthdate" displayFormat="MM/DD/YYYY"></ion-datetime>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="clearInputs()">Limpiar</ion-button>
  <ion-button expand="full" color="primary" (click)="showInfo()">Mostrar</ion-button>
</ion-content>
